<p>header works!</p>

<div
		class="bx--pagination"
		[ngClass]="{
			'bx--skeleton': skeleton
		}">
	
		<div *ngIf="skeleton" class="bx--pagination__left">
			<p class="bx--skeleton__text" style="width: 70px"></p>
			<p class="bx--skeleton__text" style="width: 35px"></p>
			<p class="bx--skeleton__text" style="width: 105px"></p>
		</div>

		<div *ngIf="!skeleton" class="bx--pagination__left">
			<label class="bx--pagination__text" [for]="itemsPerPageSelectId">
				{{itemsPerPageText.subject | async}}
			</label>
			<div class="bx--select bx--select--inline"
				[ngClass]="{
					'bx--select__item-count': isExperimental
				}">
				<select
					[id]="itemsPerPageSelectId"
					[(ngModel)]="itemsPerPage"
					class="bx--select-input">
					<option
						class="bx--select-option"
						*ngFor="let option of itemsPerPageOptions"
						[value]="option">
							{{ option }}
					</option>
				</select>
				<svg
					ibmIconChevronDown16
					style="display: inherit"
					class="bx--select__arrow"
					aria-hidden="true"
					[ariaLabel]="optionsListText.subject | async">
				</svg>
			</div>
			<span *ngIf="!pagesUnknown" class="bx--pagination__text">
				<span *ngIf="!isExperimental">|&nbsp;</span>
				{{totalItemsText.subject | i18nReplace:{start: startItemIndex, end: endItemIndex, total: totalDataLength } | async}}
			</span>
			<span *ngIf="pagesUnknown" class="bx--pagination__text">
				<span *ngIf="!isExperimental">|&nbsp;</span>
				{{totalItemsUnknownText.subject | i18nReplace:{start: startItemIndex, end: endItemIndex } | async}}
			</span>
		</div>

	
		<div *ngIf="skeleton" class="bx--pagination__right">
			<p class="bx--skeleton__text" style="width: 70px"></p>
		</div>

		<div *ngIf="!skeleton" class="bx--pagination__right"
			[ngClass]="{
				'bx--pagination--inline': !isExperimental
			}">
			<div
				*ngIf="!pageInputDisabled"
				class="bx--select bx--select--inline"
				[ngClass]="{
					'bx--select__page-number' : isExperimental
				}">
				<label [for]="currentPageSelectId" class="bx--label bx--visually-hidden">{{itemsPerPageText.subject | async}}</label>
				<input
					*ngIf="pageOptions.length > pageSelectThreshold"
					style="padding-right: 1rem; margin-right: 1rem;"
					[id]="currentPageSelectId"
					type="number"
					min="1"
					[max]="pageOptions.length"
					class="bx--select-input"
					[(ngModel)]="currentPage">
				<select
					*ngIf="pageOptions.length <= pageSelectThreshold"
					[id]="currentPageSelectId"
					class="bx--select-input"
					[(ngModel)]="currentPage">
					<option *ngFor="let page of pageOptions; let i = index;" class="bx--select-option" [value]="i + 1">{{i + 1}}</option>
				</select>
				<svg
					*ngIf="pageOptions.length <= 1000"
					ibmIconChevronDown16
					style="display: inherit;"
					class="bx--select__arrow"
					[ariaLabel]="optionsListText.subject | async">
				</svg>
			</div>

			<span *ngIf="!pageInputDisabled && !pagesUnknown" class="bx--pagination__text">
				{{ofLastPagesText.subject | i18nReplace: {last: lastPage} | async}}
			</span>
			<span *ngIf="!pageInputDisabled && pagesUnknown" class="bx--pagination__text">
				{{pageText.subject | async}} {{currentPage}}
			</span>
			<button
				class="bx--pagination__button bx--pagination__button--backward"
				[ngClass]="{
					'bx--pagination__button--no-index': currentPage <= 1 || disabled
				}"
				tabindex="0"
				[attr.aria-label]="backwardText.subject | async"
				(click)="selectPage.emit(previousPage)"
				[disabled]="(currentPage <= 1 || disabled ? true : null)">
				<ibm-icon-caret-left16></ibm-icon-caret-left16>
			</button>

			<button
				class="bx--pagination__button bx--pagination__button--forward"
				[ngClass]="{
					'bx--pagination__button--no-index': currentPage >= lastPage || disabled
				}"
				tabindex="0"
				[attr.aria-label]="forwardText.subject | async"
				(click)="selectPage.emit(nextPage)"
				[disabled]="(currentPage >= lastPage || disabled ? true : null)">
				<ibm-icon-caret-right16></ibm-icon-caret-right16>
			</button>
		</div>
	</div>